*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body{
    background-color: rgb(21, 20, 22);
    color: rgb(253, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.main{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.headings{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
    width: 90%;
}

.headings h1{
    display: flex;
    position: fixed;
    padding-bottom: 1rem;
    color: aqua;
}

.headings h3{
    position: fixed;
    padding-top: 5rem;
}

.results{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#textInput{
    width: 90%;
    max-width: 50rem;
    height: 3.5rem;
    border-radius: 13px;
    border: 3px solid rgb(82, 86, 87);
    padding-left: 15px;
    font-size: 25px;
    outline: none;
    position: fixed;
    bottom: 60.3vh;
}

#submitButton{
    border-radius: 13px;
    border: 3px solid rgb(82, 86, 87);
    width: 90%;
    max-width: 50rem;
    height: 2.5rem;
    margin-top: 0.5rem;
    font-size: 20px;
    position: fixed;
    bottom: 53.9vh;
}

#submitButton:hover{
    background-color: transparent;
    color: aliceblue;
    transition: all ease-out 0.2s;
}

.final-results{
    width: 90%;
    max-width: 50rem;
    height: 50vh;
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    font-size: 30px;
    border-radius: 13px;
    border: 3px solid rgb(82, 86, 87);
    position: fixed;
    bottom: 0;
    margin-bottom: 1.4rem;
}

.final-results h6{
    padding: 0.5rem 0;
}

@media screen and (max-width: 786px) {
    h1{
        font-size: x-large;
    }
}
